@model CarIn.Models.ViewModels.ChangePasswordVm

@{
    ViewBag.Title = "Ändra lösenord";
}
<div id="formContainer" class="span12">

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <h1>Ändra lösenord</h1>

        <div class="editor-field">
            @Html.HiddenFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OldPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmNewPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmNewPassword)
            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
        </div>

        <p>
            <input type="submit" value="Spara" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Tillbaka", "Index")
</div>
</div>
    <div id="appStartLoading">
        <div class="ball"></div>
        <div class="ball1"></div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
