@using CarIn.Models.Entities
@{
    ViewBag.Title = "CarIn";
}

<div class="span12">
    <div id="tooltipbox" class="tooltipbox">Tooltip Box</div>
    <div class="map">
        <section class="content-wrapper main-content clear-fix">
            <div>
  
                @Html.Partial("Kart_Demo")
  
            </div>
        </section>
    </div>
    <nav class="mainmenu">
        <ul>
            <li><a href="#" id="olyckaBtn" class="olycka"><span class="hidden-phone">Olyckor</span><img src="@Url.Content("/Images/icon-varning.png")" alt="Olycka" /></a></li>
            <li><a href="#" id="tullarBtn"  class="tullar"><span class="hidden-phone">Tullar</span><img src="@Url.Content("/Images/icon-tullar.png")" alt="Tullar" /></a></li>
            <li><a href="#" id="vaderBtn" class="vader"><span class="hidden-phone">Väder</span><img src="@Url.Content("/Images/icon-vader.png")" alt="Väder" /></a></li>
            <li><a href="#" id="lokalBtn" class="lokaltrafik"><span class="hidden-phone">Lokaltrafik</span><img src="@Url.Content("/Images/icon-lokaltrafik.png")" alt="Lokaltrafik" /></a></li>
            <li><a href="#" id="installningarBtn" class="installningar"><span class="hidden-phone">Inställningar</span><img src="@Url.Content("/Images/icon-installningar.png")" alt="Inställningar" /></a></li>
        </ul>
    </nav>
</div>
