<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <!-- För bootstrap responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- StyleSheets -->
        <link type="text/css" rel="stylesheet" href="/Content/bootstrap-responsive.min.css"  />
        <!-- <link type="text/css" rel="stylesheet/less" href="/Content/main.less" /> -->
        <link type="text/css" rel="stylesheet" href="/Content/main.css" />

        <!-- Javascripts -->
        <script src="/Scripts/bootstrap.min.js" type="text/javascript"></script> 
        <script src="/Scripts/less.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <div class="row-fluid">
                <header>
            
                    <div class="span4">
                        <h1>@ViewBag.NameOfProject</h1>
                    </div>
                    <div class="span8">
                        <section id="login">
                            <form action="/Account/LogOn" method="post">
                                <input type="text" name="username" value="Användarnamn"/>
                                <input type="text" name="password" value="Lösenord"/>
                                <input type="submit" class="btnSubmit" value="Logga in" />
                            </form>
                        </section>
                       @ViewBag.mittMeddelande
                    </div>
                    <div class="clear"></div>
                </header>
            </div>
            <div class="row-fluid">
                <div class="span12">
                     <nav class="mainmenu">
                        <ul>
                            <li>@Html.ActionLink("Hem", "Index", "Home")</li>
                            <li>@Html.ActionLink("Väder", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>

                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        <!-- <iframe class="theMap" src="https://maps.google.se/?ie=UTF8&amp;t=m&amp;ll=57.695708,12.21199&amp;spn=0.176138,0.439453&amp;z=11&amp;output=embed"></iframe> -->
                        @RenderBody()
                    </section>
                </div>
            </div>
            <div class="row-fluid">
                <footer>
                    <div class="content-wrapper">
                        <div class="float-left">
                            <p>&copy; @DateTime.Now.Year - @ViewBag.NameOfProject</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <script src="/Scripts/less.js" type="text/javascript"></script>
    </body>
</html>
