<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <!-- För bootstrap responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- StyleSheets -->
       <!-- <link type="text/css" rel="stylesheet" href="/Content/bootstrap-responsive.min.css"  /> -->
        
        <link type="text/css" rel="stylesheet" href="@Url.Content("/Content/bootstrap.css")" />
        <link type="text/css" rel="stylesheet" href="@Url.Content("/Content/main.css")" />
        
        <!-- Apple iOS specifics -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="orange">
        <meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;" >


        <!-- Javascripts -->
        <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
        <script src="@Url.Content("/Scripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("/Scripts/less.js")" type="text/javascript"></script>
        <script src="@Url.Content("/Scripts/tooltipbox.js")" type="text/javascript"></script>  
        <script src="@Url.Content("/Scripts/jquery.imagesloaded.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("/Scripts/scripts.js")" type="text/javascript"></script>
        <script src="@Url.Content("/Scripts/tollfee.js")" type="text/javascript"></script>   
    </head>
    <body>

        <div class="container">
<div id="appStartLoading">
                        <h1>Loading...</h1>
        <div id="balls">
            <div class="ball loadingball"></div>
            <div class="ball1 loadingball"></div>


        </div>
    </div>
            
            <div class="row-fluid">

                <header class="span12">
   
                    <a href="/" class="logo">
                        <img src="@Url.Content("/Images/CarInIcon2x.png")" />
                    </a>
                    
                    <div class="carin-msg">
                        <span>@if (ViewData["Message"] != null && !string.IsNullOrWhiteSpace(ViewData["Message"].ToString()))
                              {
                                  ViewData["Message"].ToString();
                              }
                        </span>
                            </div>
                    @{
                        Html.RenderAction("AccountStatus", "Account");
                    }
                    @*@if(ViewBag.showChangePassLink != null && (bool)ViewBag.showChangePassLink)
                    {
                        *@
                    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <div>@Html.ActionLink("Ändra lösenord", "ChangePassword", "Home", null, new {@class = "btn log-in-btn small"})</div>
                        <div>@Html.ActionLink("Logga Ut", "SignOut", "Account", null, new {@class = "btn log-in-btn small"})</div>

                    }
                    else {
                        <!-- Button to trigger modal-LogIn -->
                        <div><a href="#myModal" role="button" class="btn log-in-btn small" data-toggle="modal">Logga in</a>
				</div>
                        <!-- Modal-LogIn -->
                        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">Logga in</h3>
                            </div>
                            @using(Html.BeginForm("LogOn", "Account", FormMethod.Post))
                            {
                                <div class="modal-body">
                                    <input type="text" name="LoginUserName" placeholder="Användarnamn"/>
                                    <input type="password" name="LoginPassword" placeholder="Lösenord"/>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Avbryt</button>
                                    <input type="submit" class="btnSubmit btn btn-primary" value="Logga in" />
                                </div>
                                <script> EnterToSubmitForm();</script>
                            }
                        </div>
                    }
                <div class="clear"></div>
            </header>
            </div>

            <div class="row-fluid">
                @RenderBody()
             </div>
            <div class="row-fluid">
                <footer>
                    <div class="content-wrapper">
                        <div class="float-left">
                            <p>&copy; @DateTime.Now.Year - @ViewBag.NameOfProject</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        @RenderSection("scripts", required: false)
    </body>
</html>
