<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <!-- För bootstrap responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- StyleSheets -->
       <!-- <link type="text/css" rel="stylesheet" href="/Content/bootstrap-responsive.min.css"  /> -->
        
        <link type="text/css" rel="stylesheet" href="@Url.Content("/Content/bootstrap.css")" />
        <link type="text/css" rel="stylesheet" href="@Url.Content("/Content/main.css")" />
        
        <!-- Apple iOS specifics -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="orange">
        <meta name="format-detection" content="telephone=no">


        <!-- Javascripts -->
        <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
        <script src="@Url.Content("/Scripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("/Scripts/less.js")" type="text/javascript"></script>
        <script src="@Url.Content("/Scripts/tooltipbox.js")" type="text/javascript"></script>  
        <script src="@Url.Content("/Scripts/jquery.imagesloaded.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("/Scripts/scripts.js")" type="text/javascript"></script>  
    </head>
    <body>
@*        <div class="fridas-media" >
			<div class="margin"></div>
			<div class="fixed">
				<div class="visible-phone">
					<span class="show_at_320px">320px</span>
					<span class="show_at_480px">480px och mindre</span>
					<span class="show_at_767px">767px och mindre ::: Mobiltelefoner: Landscape phone to portrait tablet </span> 
				</div>
				<div class="visible-tablet">768px-979px ::: Tablets: Portrait tablet to landscape tablets and desktop </div>
				<div class="visible-desktop">
					<span class="show_at_980px">980px och större </span>
					<span class="show_at_1200px">1200px och större</span> ::: Large desktop
				</div>
			</div>
		</div>*@

        <div class="container">
<div id="appStartLoading">
        <div class="ball loadingball"></div>
        <div class="ball1 loadingball"></div>
    </div>
            
            <div class="row-fluid">
                <header class="span12">
                    
                        <a href="/" class="logo">@ViewBag.NameOfProject</a>
                        @{Html.RenderAction("AccountStatus", "Account");}
                        <p class="viewbagmessage">@ViewBag.loggedInMessage</p>
                        @if(ViewBag.showChangePassLink != null && (bool)ViewBag.showChangePassLink)
                        {
                            @Html.ActionLink("Ändra lösenord", "ChangePassword", "Home")
                            @Html.ActionLink("Logga Ut", "SignOut", "Account")
                        }
                        else {
                            <!-- Button to trigger modal-LogIn -->
				            <a href="#myModal" role="button" class="btn log-in-btn" data-toggle="modal">Logga in</a>
				
				            <!-- Modal-LogIn -->
				            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				                <div class="modal-header">
					                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					                <h3 id="myModalLabel">Logga in</h3>
				                </div>
                                <form action="/Account/LogOn" method="post">
				                    <div class="modal-body">
					                    <input type="text" name="username" value="Användarnamn"/>
                                        <input type="text" name="password" value="Lösenord"/>
 				                    </div>
				                    <div class="modal-footer">
					                    <button class="btn" data-dismiss="modal" aria-hidden="true">Avbryt</button>
                                        <input type="submit" class="btnSubmit btn btn-primary" value="Logga in" />
				                    </div>
                                </form>
				            </div>
                        }
                        <div class="clear"></div>
                </header>
            </div>
            <div class="row-fluid">
                        @RenderSection("featured", required: false)
                            @RenderBody()
                </div>
            <div class="row-fluid">
                <footer>
                    <div class="content-wrapper">
                        <div class="float-left">
                            <p>&copy; @DateTime.Now.Year - @ViewBag.NameOfProject</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        @*@Scripts.Render("~/bundles/jquery")*@
        @RenderSection("scripts", required: false)
    </body>
</html>
